@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<h2>Initial Assessmemt on Zip Installments Calculation</h2>

<h3>Problem Statement</h3>

<div>An user should be able to give the total order amount and get the installments due date and amount.</div>
<br/>
<p>Given that 4 installments are calculated by equally splitting the amount to 4 different days. <br />
   Installment day gap is 14, so every 14 days user is expected to pay the installment amount</p>
