
@{
    ViewData["Title"] = "Contact";
}

<h1>Developer : Sugapriya Kumar</h1>
<div>
    Email : sugapriyak@yahoo.com <br/>
    <a href="https://github.com/SugapriyaKumar?tab=repositories">Visit Git Repositories</a>
</div>

